[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/WELKAN01/Client-Gateway.git
[submodule "ms-order"]
	path = ms-order
	url = https://github.com/WELKAN01/Microservicio-order-nest.git
[submodule "ms-product"]
	path = ms-product
	url = https://github.com/WELKAN01/Microservicio-products-nest.git
[submodule "ms-payments"]
	path = ms-payments
	url = https://github.com/WELKAN01/payment-ms.git
[submodule "ms-auth"]
	path = ms-auth
	url = https://github.com/WELKAN01/ms-auth.git
[submodule "ms-automatizacion"]
	path = ms-automatizacion
	url = https://github.com/WELKAN01/Automatizacion-Spring.git
