version: '3'


services:

  nats-server:
    image: nats:latest
    ports:
      - "8222:8222"
  client-gateway:
    build: 
      context: ./client-gateway
      dockerfile: dockerfile.prod
    image: client-gateway-prod
    ports: 
      - ${CLIENT_GATEWAY_PORT}:${CLIENT_GATEWAY_PORT}
    environment:
      - PORT=${CLIENT_GATEWAY_PORT}
      - NATS_SERVER=nats://nats-server:4222
      - KAFKA_BROKERS=kafka:9092
    depends_on:
     - kafdrop
  
  products-ms:
    build: 
      context: ./ms-product
      dockerfile: dockerfile.prod
    image: ms-product-prod
    environment:
      - PORT=3001
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=file:./dev.db    

  order-ms:
    # depends_on:
    #   - orders-db
    build: 
      context: ./ms-order
      dockerfile: dockerfile.prod
    image: ms-order-prod
    command: sh -c "npx prisma migrate deploy && node dist/main.js"
    environment:
      - PORT=3002
      - DATABASE_URL=${ORDER_DATABASE_URL}
      - NATS_SERVER=nats://nats-server:4222

  # orders-db:
  #   container_name: orders-database
  #   image: postgres:16.2
  #   restart: always
  #   volumes:
  #     - ./ms-order/postgres:/var/lib/postgresql/data # Persistencia de datos: monta un volumen para almacenar los datos de PostgreSQL en el host local 
  #   ports:
  #     - 55432:5432 # Mapea el puerto 5432 del contenedor al puerto 5432 del host local
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: 123456
  #     POSTGRES_DB: ordersdb

  # payments-ms:
  #   container_name: ms-payments
  #   build: ./ms-payments
  #   ports:
  #     - ${PAYMENTS_MS_PORT}:3003
  #   volumes:
  #     - ./ms-payments/src:/usr/src/app/src
  #   command: npm run start:dev
  #   environment:
  #     - PORT=${PAYMENTS_MS_PORT}
  #     - NATS_SERVERS=nats://nats-server:4222
  #     - CLIENT_ID_SANDBOX=${CLIENT_ID_SANDBOX}
  #     - CLIENT_SECRET_SANDBOX=${CLIENT_SECRET_SANDBOX}
  #     - WEBHOOK_ID_SANDBOX=${WEBHOOK_ID_SANDBOX}
  #     - DOMAIN_PAYPAL_SANBOX=${DOMAIN_PAYPAL_SANBOX}


  ms-auth:
    build: 
      context: ./ms-auth
      dockerfile: dockerfile.prod
      # args:
      #   DATABASE_URL: ${DATABASE_URL}
    image: ms-auth-prod
    volumes:
      - ./ms-auth/src:/usr/src/app/src
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3004
      - NATS_SERVERS=nats://nats-server:4222
      - KAFKA_BROKERS=kafka:9092


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP= PLAINTEXT:PLAINTEXT
  
  kafdrop:
    image: obsidiandynamics/kafdrop
    container_name: kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    depends_on:
      - kafka
